body { 
    background-image: url('https://i.ibb.co/8dcks2p/pattern.png');
    background-color: #222;
    text-align: center;
}
  .wrapper {
      margin-top: 5%;
  }
  .wrapper, iframe, object, embed {
    max-width: 100%;
}

.float-left {
    margin-right: 20%;
}